*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: url('../img/portada/mailchimp-Hv9CS6KZayQ-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
    box-sizing: border-box;

}
header{
    display: flex;
    flex-wrap: wrap;
    min-height: 30em;
    
}

nav{
    display: flex;
    text-align: center;
    min-height: 4.2rem;
    align-self: flex-start;
    flex: 1 0 calc(60% - 1rem);
}
nav ul{
    display: flex;
    flex-grow: 1;
    margin-right: 4rem;
    justify-content: flex-end;
    align-items: center;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

nav ul li a{
color: white;
font-size: 1rem;
font-weight: bold;
text-transform: uppercase;
/* margin: 0.5rem; */
padding: 0.5rem;
padding-top: 0.625rem;
transition: 0.2s;
margin: 1.2rem;
}

/* aside.a-header{
    display: flex;
    min-height: 4.2rem;
    align-self: flex-start;
    align-items: center;
} */

aside.s-header{
    display: flex;
    min-height: 4.2rem;
    align-self: flex-start;
    align-items: flex-start;

}
.presentation-header {
    line-height: 3rem;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    position: relative;
    bottom: -215px;

}